html,
body {
    width: 100%;
}

body,
.container {
    min-height: 100vh
}

header {
    height: 100px;
    width: 100%;
    display: block;
    background: #850689;
    border-bottom: solid 4px #adaceb;
}

.hide {
    display: none
}

.btn {
    width: 100%;
    padding: 8px;
    background: #3354e6;
    text-align: center;
    margin-bottom: 6px;
    color: #d5dde3;
    cursor: pointer;
    border-radius: 6px;
}

.profile_info {
    padding: 20px;
    margin-bottom: 15px;
}

.profile_info h2 {
    border-bottom: 2px solid #b1b3b9;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #850689;
}

.profile_info p {

    text-align: left;
    color: black;

}
.team-sub-setting{
    border: 1px solid #697b9c;
    padding: 20px;
    margin-bottom: 20px;
}

#addUserPanel > p{
    font-size: .9em;
    color: #6f6d6b;
    line-height: 1.6em;
    padding: 15px;
    text-align: left;
    width: 95%
}


.profile_info p:nth-child(3),
.team-sub-setting:nth-child(1) > p:nth-child(1)
 {
    margin-bottom: 50px;
    width: 270px;
    text-align: center;
}

.team-sub-setting:nth-child(1) > p:nth-child(1),
.team-sub-setting:nth-child(1) > p:nth-child(2)
{
    width: 100%;
    text-align: center
}

.profile_info label {
    display: inline-block;
    width: 200px;
}

.profile_info input,
.profile_info select {
    padding: 5px;
    width: 200px;
}

#profile_img_browse+label, 
#team_img_browse+label {
    padding: 5px;
    font-size: 1em;
    background-color: #8792ba;
}

.profile_info input.inactive {
    background: #d7c5c5;
    color: #898383;
    cursor: default;
}

.settingloadstatus{
    color: #a69e9e;
    font-size: .7em;
    font-weight: normal;
    padding-left: 20px;
}

.newuserGroup{
    padding: 15px 5px;
}

#team_setting_link,
#user_setting_link {
    text-align: right;
    font-size: .9em;
    color: blue;
    text-decoration: underline;
    cursor: pointer
}

#userprofilepic,#teamlogoImg {
    border-radius: 50%;
    height: auto;
    max-width: 150px;
}

#active_account_txt,
#new_account_txt {
    color: red;
    font-weight: bold;
    text-transform: capitalize
}

#userrole_field {
    text-transform: capitalize;
}

#settingsBlock {
    z-index: 10;
    position: absolute;
    top: 110px;
    background: #CEDFE5;
    width: 80%;
    min-height: 90vh;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
}


.prev-block,
#imageuploader,
#billTable,
#billThumbnails {
    z-index: 5;
}

#chartsBlock {
    z-index: 10;
    width: 100%;
    background: #fff;
}
#chartdaysFilter{
    padding: 10px;
    border-radius: 5px;
    background: #dfe4ea;
    margin: 5px;
}
.chart-filter-day{
    background-color: #fff
}
#imageuploader + section{
    width: 100%
}
.lds-roller{
    display: block;
    margin: auto
}


header img {
    width: 150px;
    height: auto;
    margin: 6px 0 0 30px
}

.content-box {
    display: flex;
    font-size: 1em;
    font-family: arial;
    min-height: 86vh;
}

section.side-nav {
    width: 15%;
    min-width: 100px;
    background: #ADACEB;
}

section.side-nav p {
    padding: 50px 0;
    margin: 0;
    cursor: pointer;
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.5);
}

.nav-selected {
    background: #f6f6f6;
    color: #111212;
}


section.side-nav p:hover {
    background: rgba(224, 227, 235, 0.5);
    color: #0e0e0e;
    font-weight: bold;
}

section.side-nav span {
    display: inline-block;
    color: #3a3975;
}

section.side-nav img {
    display: none;
    width: 25%;
    height: auto;
}

section.main {
    display: flex;
    /*! justify-content: center; */
    width: 85%;
    background: #CEDFE5;
    /*  align-items: center; */
    flex-wrap: wrap;
    padding: 20px
}


#imageuploader {
    
    padding: 10px;
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.prev-block {
    width: 48%;
    display: flex;
    justify-content: center;
}

#billTable {
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    width: 45%;
    border-color: #a08ea2;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    box-shadow: 1px 1px 8px 1px #372f2f;
    background: #d5bad1;
    margin-top: 20px;
    margin-left: 10px;
}

#billTable input {
    margin-bottom: 10px;
    padding: 10px;
    width: 65%;
    background: #C2E5F2;
    box-shadow: inset 2px 2px 6px #908a8a;
}

p.tip-info {
    margin-top: 50px;
    color: #303c73;
    font-size: .9em;
}

.table-head {
    padding: 5px 10px;
    margin-bottom: 15px;
    color: #3f5467;
    font-size: large;
    font-weight: bold;

}

#billtype {
    height: 42px;
    padding: 10px;
    width: 71%;
    background: #C2E5F2;
    box-shadow: inset 2px 2px 6px #908a8a;
    margin-bottom: 10px;
}

#exitbill,
#savebill,
#updatebill,
#deletebill {
    display: inline-block;
    border-bottom: 1px solid blue;
    padding: 5px;
    color: blue;
    cursor: pointer;
    user-select: none;
}

#savebill,
#updatebill,
#deletebill {
    margin-right: 15px
}

#addNewMember.saving-state,
#savebill.saving-state,
#updatebill.saving-state,
#savesettings.saving-state,
#deletebill.saving-state {
    color: #716c6c;
    border-bottom: none;
    cursor: default;
    background: none;
}

#mainStatusCancel.hide,
#alertBoxWindow.hide,
#cameraDevice.hide,
#exitbill.hide,
#deletebill.hide,
#savebill.hide,
#updatebill.hide,
#imageuploader.hide,
#billThumbnails.hide,
#billTable.hide,
#chartsBlock.hide,
#settingsBlock.hide {
    display: none
}

p {
    text-align: center;
    color: #f8fbff;
    font-size: 1.1em;
}

#cameraDevice{
    margin-right: 10px
}

.previewimg {
    width: 90%;
    overflow: hidden;
    border: 2px solid #94618e;
    background: #fefefe;
    box-shadow: inset 2px 2px 10px 2px #4f4b4b;
}

#alertBoxWindow{
    display: flex;
    position: fixed;
    top:0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 30;
    align-items: center;
    justify-content: center;
}

#alertBoxWindow div{
    padding: 20px 40px;
    background: rgba(182, 178, 203, 0.8);
    text-align: center;
    width: 25%
}
#alertBoxWindow h4{
    font-weight: normal;
}
#alertBoxWindow p{
   font-size: .9em;
}

.previewimg>img {
    width: 100%;
    min-width: 200px;
    height: auto
}

.input-image {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-image+label {
    font-size: 1.1em;
    /* font-weight: 700; */
    color: white;
    background-color: #5d6b9d;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer
}

.input-image:focus+label,
.input-image+label:hover {
    background-color: #7482d0;
}

.input-image:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.thumb-img img {
    width: 220px;
    height: auto
}

.thumbnail {
    border: 5px solid rgba(84, 159, 250, 0.36);
    background: #e0dcf2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.69);
    border-radius: 8px;
    padding: 10px 0;
    cursor: pointer
}
.thumbnail .thumb-img + div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumb-date-submit,
.thumb-title-bill {
    padding: 10px 0;
}
.thumb-date-bill{
    font-size: .8em;
    color: #565252;
}

#billThumbnails {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.amount-thumb {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 0;
}
div#ui-datepicker-div{
    z-index: 7 !important;
}


@media (max-width:920px) {

    #billTable,
    .previewimg,
    .prev-block {
        items-align: flex-start;
        width: 100%
    }

    #billTable input {
        width: 90%
    }

    #billTable select {
        width: 94%;
    }

}

@media (max-width:768px) {
    #alertBoxWindow div{
        width: 40%
    }

}


@media (max-width:450px) {
    .input-image+label {
        font-size: .9em
    }

    header {
        height: 80px
    }

    header img {
        margin: 6px 0 0 13px;
        width: 120px
    }

    section.side-nav {
        width: 10%;
        min-width: 50px
    }

    section.side-nav span {
        display: none;
    }

    section.side-nav img {
        display: inline-block;
        width: 35%
    }

    section.side-nav p {
        padding: 30px 0;
    }

    section.main {
        width: 90%
    }
    #alertBoxWindow div{
        width: 50%
    }
    .profile_info{
        font-size: .8em
    }

    #billTable {
        font-size: .8em
    }
    .thumb-img img {
        width: 220px;
    }
}
