html,
body {
    width: 100%;
}

body,
.container {
    min-height: 100vh;
    background: #CEDFE5;
}

body,
.container {
    background: #CEDFE5;
}


header {
    height: 100px;
    width: 100%;
    display: block;
    background: #850689;
    border-bottom: solid 4px #adaceb;
    overflow: hidden;
    transition: background .7s

}

header img {
    cursor: pointer
}

input, select {
    border-style: hidden;
}

#themechooser {
    width: 12px;
    height: 6px;
    position: absolute;
    top: 46px;
    right: 10px;
    font-size: .9em;
    padding: 3px;
    border-radius: 50%;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.58);
    padding-top: 11px;
    background: url(../images/themeicon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer
}

.hide {
    display: none !important
}

.btn {
    width: 100%;
    padding: 8px;
    background: #3354e6;
    text-align: center;
    margin-bottom: 6px;
    color: #d5dde3;
    cursor: pointer;
    border-radius: 6px;
}
span.btn.deletemember {
    background: red;
    color: #e4c5c5;
}

.profile_info {
    padding: 20px;
    margin-bottom: 15px;
}

.profile_info h2 {
    border-bottom: 2px solid rgba(133, 6, 137, 0.3);
    padding-bottom: 10px;
    padding-left: 10px;
    color: #850689;
}

.profile_info p {

    text-align: left;
    color: black;

}

#projectNameHead {
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: .9em;
    border: 1px solid #9095d5;
    border-radius: 5px;
    padding: 4px 8px;
    color: #ccceeb;
    text-align: right;
    max-width: 165px;
    display: none
}

#projectNameHead b {
    color: #9f9bd7;
}

#addmemberEdit {
    margin-top: 5px;
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;

}

.team-sub-setting {
    /* border: 1px solid #697b9c; */
    padding: 20px;
    margin-bottom: 20px;
    background: #d5dbff;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

#addUserPanel>p {
    font-size: .9em;
    color: #6f6d6b;
    line-height: 1.6em;
    padding: 15px;
    text-align: left;
    width: 95%
}

#editProjMembersPanel {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.profile_info p:nth-child(3),
.team-sub-setting:nth-child(1)>p:nth-child(1) {
    margin-bottom: 50px;
    width: 270px;
    text-align: center;
}

.team-sub-setting:nth-child(1)>p:nth-child(1),
.team-sub-setting:nth-child(1)>p:nth-child(2),
#modifyProjectMembers>p:nth-child(2),
#modifyProjectMembers>p:nth-child(3) {
    width: 100%;
    text-align: center
}

.profile_info label {
    display: inline-block;
    width: 200px;
    padding-bottom: 5px;
    color: #665f5f;
}

.profile_info input,
.profile_info select {
    padding: 5px;
    width: 200px;
    background: #c8ebf8;
    box-shadow: inset 2px 2px 6px #787373;
    color: #6e4d6e;
}

#profile_img_browse+label,
#team_img_browse+label,
#team_imgEdit+label {
    padding: 5px;
    font-size: 1em;
    background-color: #8792ba;
}

.profile_info input.inactive {
    background: #d7c5c5;
    color: #898383;
    cursor: default;
}

.settingloadstatus {
    color: red;
    font-size: .7em;
    font-weight: normal;
    padding-left: 20px;
    animation: loadblinker .7s linear infinite;
}

@keyframes loadblinker {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.newuserGroup {
    padding: 15px 5px;
}

.newuserGroup span,
.edituserGroup span {
    padding-bottom: 10px;
    display: inline-block;
}

.member-fields-disable {
    color: #a78ca7 !important;
    background: #b0cfd8 !important;
}

.edituserGroup {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    border-radius: 7px;
    margin-bottom: 8px;
}

#team_setting_link,
#user_setting_link {
    text-align: right;
    font-size: .9em;
    color: blue;
    text-decoration: underline;
    cursor: pointer
}

#userprofilepic,
#teamlogoImg {
    border-radius: 50%;
    height: auto;
    max-width: 150px;
}

#active_account_txt,
#new_account_txt {
    color: red;
    font-weight: bold;
    text-transform: capitalize
}

#userrole_field {
    text-transform: capitalize;
}

#settingsBlock {
    z-index: 10;
    position: absolute;
    top: 110px;
    background: #8bd7f1;
    width: 80%;
    min-height: 90vh;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
}


#uncategorised-bills {
    border: 8px solid #61a2fc;
    width: 65%;    
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 16%;
    left: 25%;
    background: #cedfe5;
    box-shadow: 1px 2px 8px 3px rgba(0, 0, 0, 0.52);
    height: 400px;    
    z-index:8;
    overflow-y: scroll;
    transition: transform .8s ease, opacity .8s
}



#uncategorised-bills section{
    display: flex;
    flex-wrap: wrap;
    align-items: normal;
    justify-content: center;
    padding: 15px;
}

#uncategorised-bills > div{
    display: flex;
    background: #d7e8ee;
    color: #1053ae;
    top: 0;
    position: sticky;

}

#uncategorised-bills > div span {
    width: 50%;
    padding: 10px;
    font-weight: bold;
}

#uncategorised-bills > div svg{
    /* width: 18px; */
    cursor: pointer
}


.uncategorised-item {
    width: 15%;
    display: flex;
    flex-direction: column;
    background: rgba(114, 148, 195, 0.4);
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 12px;
    border-radius: 8px;
    min-width: 180px;
    justify-content: space-between;
}

.uncategorised-item > p {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.uncategorised-item > p:nth-child(2) {
    flex-direction: column;
    text-align: left;
    color: #473737;
    overflow: hidden;
    font-size: .9em;
}

.uncategorised-item > p:nth-child(2) span {
    padding: 8px 0;
}
.uncategorised-item img {
    width: 100%;
    height: auto;
}

span.UN-CTG-remove {    
    cursor: pointer;
}
span.UN-CTG-view {
    background: #6767e5;
    padding: 8px 11px;
    border-radius: 8px;
    font-size: .8em;
    cursor: pointer;
}

span.UN-CTG-view.CTGloading{
    background: transparent;
}

.prev-block,
#imageuploader,
#billTable,
#billThumbnails {
    z-index: 5;
}


#chartsBlock {
    z-index: 10;
    width: 100%;
    background: #fff;
}

#chartdaysFilter {
    padding: 10px;
    border-radius: 5px;
    background: #dfe4ea;
    margin: 5px;
}

.chart-filter-day {
    background-color: #fff
}

#imageuploader+section {
    width: 100%
}

.lds-roller {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 35px;
}


header img {
    width: 150px;
    height: auto;
    margin: 6px 0 0 30px
}

.content-box {
    display: flex;
    font-size: 1em;
    /* font-family: arial; */
    font-family: 'Montserrat', sans-serif;
    min-height: 86vh;
    background: #CEDFE5;
}


section.side-nav {
    width: 15%;
    min-width: 100px;
    background: #61a2fc;
}

section.side-nav p {
    padding: 50px 0;
    margin: 0;
    cursor: pointer;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.skin9 section.side-nav p {
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.66);
}
.skin9 section.side-nav {
    background: #151414;
}

.nav-selected {
    background: #fff;
    color: #111212
}




section.side-nav span {
    display: inline-block;
    color: #3a3975;
    font-size: .85em;
    font-weight: bold;
}

section.side-nav img {
    display: none;
    width: 30%;
    height: auto;
}

section.main {
    display: flex;
    /*! justify-content: center; */
    width: 85%;
    background: #CEDFE5;
    /*  align-items: center; */
    flex-wrap: wrap;
    padding: 20px
}

.topfloater section.side-nav #billshome img {
    padding-top: 5px
}

#imageuploader {
    padding: 10px;
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.prev-block {
    width: 48%;
    display: flex;
    justify-content: center;
}

#billTable {
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    width: 45%;
    border-color: #a08ea2;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    box-shadow: 1px 1px 8px 1px rgba(55, 47, 47, 0.58);
    background: #8bd7f1;
    margin-top: 20px;
    border-radius: 8px;
}

#billTable input {
    margin-bottom: 10px;
    padding: 10px;
    width: 65%;
    background: #C2E5F2;
    box-shadow: inset 2px 2px 6px #908a8a;
}

#billTable.teamTable {
    height: 410px;
}

#billTable.static-table input,
#billTable.static-table select {
    color: #b29898;

}


p.tip-info {
    margin-top: 50px;
    color: #303c73;
    font-size: .9em;
}

.table-head {
    padding: 5px 10px;
    margin-bottom: 15px;
    color: #3f5467;
    font-size: large;
    font-weight: bold;

}

.table-head span {
    font-weight: normal;
    color: #5e6756;
    font-size: small;
    background: #ace2f4;
    padding: 2px 5px;
    box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.27);
    border: 1px solid rgba(94, 103, 86, 0.45);
}

#billtype {
    height: 42px;
    padding: 10px;
    width: 71%;
    background: #C2E5F2;
    box-shadow: inset 2px 2px 6px #908a8a;
    margin-bottom: 10px;
}

#projectsList {
    margin-top: 40px
}

#projectsList label {
    display: inline-block;
    width: 200px;
    padding-bottom: 5px;
    color: #40484b;
}

#exitbill,
#savebill,
#updatebill,
#rejectbill,
#approvebill,
#deletebill {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    color: #3b3b46;
    border-radius: 4px;
    font-size: .9em;
    background: rgba(216, 223, 236, 0.4);
    box-shadow: 0px 0px 7px 1px rgba(1, 1, 1, 0.22);
    /* border-bottom: 1px solid blue;    
    color: blue; */
}

#savebill,
#updatebill,
#rejectbill,
#approvebill,
#deletebill {
    margin-right: 15px
}

#addNewMemberProj.processing-state,
#editProject.processing-state,
#savebill.processing-state,
#updatebill.processing-state,
#savesettings.processing-state,
#rejectbill.processing-state,
#approvebill.processing-state,
#deletebill.processing-state {
    color: #716c6c;
    border-bottom: none;
    cursor: default;
    background: none;
    box-shadow: none
}

#editProject.processing-state {
    font-size: .8em;
}

#pdf-canvas,
.bill-status-approval.hide,
.bill-status.hide,
.lds-roller.hide,
#projectsList.hide,
#user_setting_link.hide,
#mainStatusCancel.hide,
#alertBoxWindow.hide,
#infoTipBox.hide,
#confirmAmountWindow.hide,
#cameraDevice.hide,
#exitbill.hide,
#deletebill.hide,
#savebill.hide,
#updatebill.hide,
#rejectbill.hide,
#approvebill.hide,
#imageuploader.hide,
#billThumbnails.hide,
#billTable.hide,
#chartsBlock.hide,
#settingsBlock.hide {
    display: none
}

p {
    text-align: center;
    color: #f8fbff;
    font-size: 1.1em;
}

#infocontent {
    font-size: .9em;
    text-align: left;
    color: #09090b;
}

#cameraDevice {
    margin-right: 10px
}

.previewimg {
    width: 90%;
    overflow: hidden;
    background: #fefefe;
    border: 15px solid #eaeaf0;
    border-radius: 8px;
    box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.6);
}

#link-uncateg {
    border-top: 1px solid #c9a2a2;
    color: #000;
    background: #f2f2f5;
    font-family: monospace;
    font-size: .9em;
    border-bottom: 2px solid rgba(22, 22, 22, 0.5);
    position: absolute;
    right: 10px;
    top: 95px;    
    padding: 4px 6px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 8
}

#chooseAmount {
    display: flex;
    justify-content: space-evenly;
}

span.pick-amount {
    padding: 5px 8px;
    background: #283fa4;
    border-radius: 6px;
    color: #d5cadd;
    cursor: pointer;
}

#alertBoxWindow,
#confirmAmountWindow,
#infoTipBox {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 30;
    align-items: center;
    justify-content: center;
}

#alertBoxWindow div,
#infoTipBox div,
#confirmAmountWindow>div {
    padding: 20px 40px;
    background: rgba(152, 148, 172, 0.9);
    text-align: center;
    width: 25%;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#alertBoxWindow h4,
#confirmAmountWindow h4 {
    font-weight: normal;
}

#alertBoxWindow p,
#infotipclose,
#confirmAmountWindow p {
    font-size: .9em;
}

.settingMode #mybillORall {
    display: none !important
}

.editRoleLabel {
    padding: 8px 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

#mybillORall {
    position: fixed;
    bottom: 3px;
    right: 5px;
    background: #f2f2f5;
    padding: 1px 10px;
    line-height: .5px;
    font-size: 1em;
    border-radius: 8px;
    z-index: 12;
    cursor: pointer;
    border-bottom: 2px solid #79797d;
    display: none
}

#mybillORall p {
    font-size: .9em;
    padding: 0;
    color: #000;
    font-family: monospace;
}

.previewimg>img {
    width: 100%;
    min-width: 200px;
    height: auto
}

.input-image {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-image+label {
    font-size: 1.1em;
    color: #e6e6f1;
    background-color: #5d6b9d;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer
}

.input-image:focus+label,
.input-image+label:hover {
    background-color: #7482d0;
}

.input-image:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.thumb-img img {
    width: 220px;
    height: auto
}

.thumbnail {
    border: 5px solid rgba(84, 159, 250, 0.36);
    background: #e0dcf2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.55);
    border-radius: 8px;
    padding: 10px 0;
    cursor: pointer
}

.thumbnail .thumb-img+div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumb-date-submit,
.thumb-title-bill {
    padding: 10px 0;
}

.thumb-title-bill {
    max-width: 82%;
    text-align: center;
    font-weight: bold;
}

.thumb-date-bill {
    font-size: .8em;
    color: #565252;
}

#billThumbnails {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.amount-thumb {
    font-size: 1em;
    font-weight: bold;
    color: #3b48b4;
    background: #edeef3;
    border-radius: 50%;
    padding: 10px;
    font-family: arial;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.thumb-top-row {
    display: flex;
    width: 90%;
    padding-bottom: 10px;
}

.thumb-top-row.centered {
    justify-content: center;
}

.thumb-top-row.spaced {
    justify-content: space-between;
}

.bill-status img {
    width: 30px;
    height: auto;
}

.bill-status-approval {
    width: 70%;
    font-size: .9em;
    padding: 5px 0 20px 0;
}

.bill-status-approval.pending {
    color: #686872;
}

.bill-status-approval.rejected {
    color: red;
}

.bill-status-approval.approved {
    color: green;
}

.bill-status-approval span {
    color: #4545f0;
    text-decoration: underline;
}

.bill-status-approval i {
    margin-left: 5px;
    display: inline-block;
    /* background: url(../images/history.png);
    background-repeat: no-repeat;
    background-position: center; */
    width: 25px;
    height: auto;
    padding: 2px 0 0 3px;    
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}
.bill-status-approval svg g{
    fill: #686872
}

.bill-status-approval.pending svg g{
    fill: #686872
}

.bill-status-approval.rejected svg g{
    fill: red
}

.bill-status-approval.approved svg g{
    fill: green
}

#modifyProjectMembers {
    margin-top: 20px;
    padding: 0;
}

#modifyProjectMembers h5 {
    margin: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
    border-radius: 8px 8px 0 0;
}

div#ui-datepicker-div {
    z-index: 7 !important;
}

.settingMode #uncategorised-bills,
.settingMode #link-uncateg,
.settingMode #billTable,
.settingMode #billThumbnails,
.settingMode #chartsBlock,
.settingMode #uncategorised-bills,
.settingMode .prev-block {
    display: none
}

.btn-editproj {
    padding: 4px 8px;
    font-size: .8em;
    color: rgb(255, 255, 255);
    background: rgba(44, 44, 47, 0.5);
}

.lastapproverlog {
    font-size: .8em;
    color: rgba(0, 0, 0, 0.5);
}

#saveCloseSetting {
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid #4b70a9;
}


#editProjMembersPanel input,
#editProjMembersPanel select {
    width: 200px;
}

.edituserGroup {
    width: 45%
}



@media (min-width: 1024px) {
    section.side-nav p:not(.nav-selected):hover {
        background: rgba(224, 227, 235, 0.5);
        color: #0e0e0e;
    }

    .skin1 section.side-nav p:not(.nav-selected):hover {
        background: rgba(71, 82, 111, 0.5);
    }

    .skin6 section.side-nav p:not(.nav-selected):hover {
        background: rgba(185, 189, 199, 0.5)
    }

    .skin7 section.side-nav p:not(.nav-selected):hover {
        background: rgba(241, 239, 185, 0.77);
    }

    .skin9 section.side-nav p:not(.nav-selected):hover {
        background: rgba(71, 82, 111, 0.2);
    }
}

@media (max-width:920px) {

    #billTable,
    .previewimg,
    .prev-block {
        items-align: flex-start;
        width: 100%
    }

    #billTable input {
        width: 90%
    }

    #billTable select {
        width: 95%;
    }

    .edituserGroup {
        width: 90%
    }

    #editProjMembersPanel input,
    #editProjMembersPanel select {
        width: 98%;
    }

}

@media (max-width:768px) {

    #alertBoxWindow div,
    #infoTipBox div,
    #confirmAmountWindow>div {
        width: 40%
    }

    #link-uncateg {
        margin: 0;
        position: fixed;
        left: 4px;
        bottom: 4px;
        top: auto;
        right:auto;
        

    }

}


@media (max-width:450px) {
    .input-image+label {
        font-size: .9em
    }

    header {
        height: 80px
    }

    header img {
        margin: 6px 0 0 13px;
        width: 120px
    }



    #themechooser {
        width: 8px;
        height: 5px;
        top: 30px;
    }

    #projectNameHead {
        top: -5px;
    }

    section.side-nav {
        width: 10%;
        min-width: 50px
    }

    section.side-nav span {
        display: none;
    }

    section.side-nav img {
        display: inline-block;
        width: 35%
    }

    section.side-nav p {
        padding: 30px 0;
    }

    section.main {
        width: 90%;
        padding-left: 12px;
        padding-right: 12px;
    }

    #uncategorised-bills{
        width: 76%;
        left: 16%;
        top: 15%
    }
    .uncategorised-item{
        min-width: 90%
    }

   


    /* Top floater */
    .topfloater header {
        border-bottom: none !important
    }

    .topfloater section.side-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }

    .topfloater section.main {
        width: 95%;

    }

    .topfloater section.side-nav p {
        box-shadow: none;
        padding: 5px 26px;

    }

    .topfloater .content-box {
        flex-direction: column
    }

    .topfloater .thumb-img img {
        width: 290px
    }

    .topfloater #settingsBlock {
        top: 135px;
        box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.5);
        width: 94%;
    }

    .topfloater section.side-nav img {
        width: 50%
    }

    .topfloater #logout img {
        width: 35%
    }


    .topfloater .nav-selected {
        background: rgba(246, 246, 246, 0.7);
        border-top: 2px solid #fff;
    }

    .topfloater #uncategorised-bills{
        width: 88%;
        left: 4%;
        top: 20%
    }
    .topfloater .uncategorised-item{
        min-width: 90%
    }

    .skin6 .topfloater .nav-selected {
        background: #fff;
    }

    .skin9 .topfloater .nav-selected {
        border-top: 2px solid rgba(255, 255, 255, 0.4);
    }
    
    
    /* End top floater */

    #alertBoxWindow div,
    #infoTipBox div,
    #confirmAmountWindow>div {
        width: 50%
    }

    .profile_info {
        font-size: .8em
    }

    #billTable {
        font-size: .8em
    }

    .thumb-img img {
        width: 220px;
    }
    .skin9 section.side-nav {
        background: #5f6364;
    }
}

@media (max-width:375px) {
    #editProject {
        margin-left: 0 !important;
    }

    .profile_info #projectsList input,
    .profile_info #projectsList select {
        width: 175px;
    }

    .profile_info .newuserGroup input,
    .profile_info .newuserGroup select {
        width: 155px;
    }

    
    #uncategorised-bills {
        width: 74%;
        left: 18%;
        box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.52);
    }


    #alertBoxWindow h4,
    #confirmAmountWindow h4 {
        font-size: .9em;
    }

}

.loader-circ-path {
    height: 30px;
    width: 30px;
    color: rgba(37, 36, 36, 0.67);
    position: relative;
    display: inline-block;
    border: 4px solid;
    border-radius: 50%;
    border-right-color: #ada6a6;
    animation: rotate 1s linear infinite;
}



@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* ----------------SKINS -------------------- */

.skin1 header {
    background: #533a48;
    border-bottom: solid 2px #816373
}

body.skin1,
.skin1 .container {
    background: #7c5869;
}

.skin1 .profile_info h2 {
    border-bottom: 2px solid rgba(92, 83, 92, 0.3);
    color: #4f3951;
}

.skin1 .team-sub-setting {
    background: #959bbe;
}

.skin1 #addUserPanel>p {
    color: #484d66;
}

.skin1 .profile_info input,
.skin1 .profile_info select {
    background: #c8ebf8;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #d7c0c0;
}


.skin1 .profile_info label {
    color: #445662;
}

.skin1 #profile_img_browse+label,
.skin1 #team_img_browse+label,
.skin1 #team_imgEdit+label {
    background-color: #4d6bd9;
}

.skin1 #settingsBlock {
    background: #8099aa;
}

.skin1 .content-box,
.skin1 section.main {
    background: #7c5869;
}

.skin1 section.side-nav {
    background: #9a7197;
}

.skin1 section.side-nav span {
    color: #2b2b39;
}

.skin1 #billTable {
    background: #aca7c0;
}

.skin1 #billTable input,
.skin1 #billtype {
    background: #aecdd9;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #d7c0c0;
}

.skin1 #billTable.static-table input,
.skin1 #billTable.static-table select {
    color: #9a8383;

}


.skin1 .input-image+label {
    color: #cecee3;
    background-color: #9a7197;
    border-bottom: 1px solid #1d1d23;
    border-top: 1px solid #c7adb9;
}
.skin1 .input-image:focus+label,
.skin1 .input-image+label:hover {
    background-color: #81597d;
}

.skin1 .thumbnail {
    border: 3px solid rgba(225, 232, 241, 0.61);
    background: #9d96b8;
}

.skin1 .thumb-date-bill {
    color: #3d3737;
}

.skin1 .amount-thumb {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.98);
}

.skin1 #saveCloseSetting {
    border-top: 2px solid rgba(92, 83, 92, 0.3);
}


.skin1 #team_setting_link,
.skin1 #user_setting_link {
    color: #dddde6
}


.skin1 .profile_info label {
    color: #313739;
}

.skin1 .table-head span {
    background: #bbb5d3
}

.skin1 #uncategorised-bills {
    border: 8px solid #9a7197;
    background: #7c5869;
}
.skin1 #uncategorised-bills > div span {
    color: #e3b1c9 !important
}

.skin1 #uncategorised-bills > div {
    background: #6f4d5d;
}

.skin1 .uncategorised-item {
    background: rgb(141, 110, 124)
}

.skin1 .uncategorised-item > p:nth-child(2) {
    color: #1b1c20;
}

.skin1 #uncategorised-bills > div svg circle,
.skin1 #uncategorised-bills > div svg line{
    stroke: #d2c6cc;
}






/*------------------------------------------------------- */

.skin2 header {
    background: #1c6e8c;
    border-bottom: solid 2px #3d5a58;
}

body.skin2,
.skin2 .container {
    background: #d3d0cf;
}

.skin2 .profile_info h2 {
    border-bottom: 2px solid rgba(92, 83, 92, 0.3);
    color: #7a7688;
}

.skin2 .team-sub-setting {
    background: #d8dae4;
}

.skin2 #addUserPanel>p {
    color: #484d66;
}

.skin2 .profile_info input,
.skin2 .profile_info select {
    color: #3f3a3a;
    background: #ecf1ee;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #fffbfb;
}

.skin2 #profile_img_browse+label,
.skin2 #team_img_browse+label,
.skin2 #team_imgEdit+label {
    background-color: #4d6bd9;
}

.skin2 #settingsBlock {
    background: #d1e9f1;
}

.skin2 .content-box,
.skin2 section.main {
    background: #d3d0cf;
}

.skin2 section.side-nav {
    background: #97bdca;
}

.skin2 section.side-nav span {
    color: #2b2b39;
}

.skin2 #billTable {
    background: #c1d7df;
}

.skin2 #billTable input,
.skin2 #billtype {
    background: #e5ede8;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #ffffff;
    color: #2f2c2c;
}


.skin2 #billTable.static-table input,
.skin2 #billTable.static-table select {
    color: #b29898 !important;
    background: #dadecd !important;

}

.skin2 .input-image+label {
    color: #eae5ff;
    background-color: #5073f2;
    border-bottom: 1px solid #1d1d23;
}
.skin2 .input-image:focus+label,
.skin2 .input-image+label:hover {
    background-color: #616db0;
}

.skin2 .thumbnail {
    border: 3px solid #e9f3ed;
    background: #c1d7df;
}

.skin2 .thumb-date-bill {
    color: #3d3737;
}

.skin2 .amount-thumb {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.98);
}

.skin2 #saveCloseSetting {
    border-top: 2px solid rgba(92, 83, 92, 0.3);
}


.skin2 .member-fields-disable {
    color: #a2b7aa !important;
    background: #d1e9f1 !important;
}

.skin2 #uncategorised-bills {
    border: 8px solid #97bdca;
    background: #d3d0cf;
}
.skin2 #uncategorised-bills > div span {
    color: #6b4848 !important
}

.skin2 #uncategorised-bills > div {
    background: #c1bdbb;
}

.skin2 .uncategorised-item {
    background: rgb(225, 221, 221);
}

.skin2 .uncategorised-item > p:nth-child(2) {
    color: #1b1c20;
}

.skin2 #uncategorised-bills > div svg circle,
.skin2 #uncategorised-bills > div svg line{
    stroke: #6b4848;
}



/*------------------------------------------------------- */

.skin3 header {
    background: #454955;
    border-bottom: solid 2px #e8f0e0;
}

body.skin3,
.skin3 .container {
    background: #c7efcf;
}

.skin3 .profile_info h2 {
    border-bottom: 2px solid rgba(92, 83, 92, 0.3);
    color: #806a82;
}

.skin3 .team-sub-setting {
    background: #d8dae4;
}

.skin3 #addUserPanel>p {
    color: #484d66;
}

.skin3 .profile_info input,
.skin3 .profile_info select {
    color: black;
    background: #c8ebf8;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #fffbfb;
}

.skin3 #profile_img_browse+label,
.skin3 #team_img_browse+label,
.skin3 #team_imgEdit+label {
    background-color: #4d6bd9;
}

.skin3 #settingsBlock {
    background: #e9eae5;
}

.skin3 .content-box,
.skin3 section.main {
    background: #c7efcf;
}

.skin3 section.side-nav {
    background: #fe5f55;
}

.skin3 section.side-nav span {
    color: #2b2b39;
}

.skin3 #billTable {
    background: #eef5db;
}

.skin3 #billTable input,
.skin3 #billtype {
    background: #e1f1b5;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #ffffff;
    color: #2f2c2c;
}

.skin3 #billTable.static-table input,
.skin3 #billTable.static-table select {
    color: #b29898 !important;
    background: #dadecd !important;

}

.skin3 .input-image+label {
    color: #dedee7;
    background-color: #d86c65;
    border-bottom: 1px solid #1d1d23;
}

.skin3 .input-image:focus+label,
.skin3 .input-image+label:hover {
    background-color: #c25f50;
}

.skin3 .thumbnail {
    border: 3px solid rgba(225, 232, 241, 0.61);
    background: #eef5db;
}

.skin3 .thumb-date-bill {
    color: #3d3737;
}

.skin3 .amount-thumb {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.98);
}

.skin3 #saveCloseSetting {
    border-top: 2px solid rgba(92, 83, 92, 0.3);
}


.skin3 .member-fields-disable {
    color: #9c879c !important;
    background: #d7e0e2 !important;
}

.skin3 .table-head span {
    background: #e3eec7
}


.skin3 #exitbill, 
.skin3 #savebill, 
.skin3 #updatebill, 
.skin3 #rejectbill, 
.skin3 #approvebill, 
.skin3 #deletebill {
    background: #fff;
}

.skin3 #uncategorised-bills {
    border: 8px solid #fe5f55;
    background: #c7efcf;
}
.skin3 #uncategorised-bills > div span {
    color: #56795d !important
}

.skin3 #uncategorised-bills > div {
    background: #bae2c2;
}

.skin3 .uncategorised-item {
    background: rgb(224, 246, 228)
}

.skin3 .uncategorised-item > p:nth-child(2) {
    color: #1b1c20;
}

.skin3 #uncategorised-bills > div svg circle,
.skin3 #uncategorised-bills > div svg line{
    stroke: #56795d;
}






/*------------------------------------------------------- */

.skin4 header {
    background: #6a152a;
    border-bottom: solid 3px #b7414d;
}

body.skin4,
.skin4 .container {
    background: #c52233;
}


.skin4 .profile_info h2 {
    border-bottom: 2px solid rgb(181, 123, 84);
    color: #295b35;
}

.skin4 .team-sub-setting {
    background: #f1bd82;
}

.skin4 #addUserPanel>p {
    color: #484d66;
}

.skin4 .profile_info input,
.skin4 .profile_info select {
    color: #3f3a3a;
    background: #e3bf99;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #e8ccac;
}

.skin4 #profile_img_browse+label,
.skin4 #team_img_browse+label,
.skin4 #team_imgEdit+label {
    background-color: #693f22;
}

.skin4 #settingsBlock {
    background: #fa6477;
}

.skin4 .content-box,
.skin4 section.main {
    background: #c52233;
}

.skin4 section.side-nav {
    background: #f13b52;
}

.skin4 section.side-nav span {
    color: #2b2b39;
}

.skin4 #billTable {
    background: #f3848f;
}

.skin4 #billTable input,
.skin4 #billtype {
    background: #f2b9bf;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #eec69c;
    color: #2f2c2c;
}


.skin4 #billTable.static-table input,
.skin4 #billTable.static-table select {
    color: #9e4b53 !important;
    background: #f3848f !important;
}

.skin4 .input-image+label {
    color: #da8222;
    background-color: #a6091d;
    border-bottom: 1px solid #2a0207;
    border-top: 1px solid #ef4355;
}

.skin4 .input-image:focus+label,
.skin4 .input-image+label:hover {
    background-color: #880818;
}

.skin4 .thumbnail {
    border: 3px solid #bc0e20;
    background: #a20d1d;
}

.skin4 .thumb-date-bill {
    color: #d15565;
}

.skin4 .thumb-title-bill,
.skin4 .thumb-date-submit {
    color: #fa707f;

}

.skin4 .amount-thumb {
    color: #6a1c1c;
    box-shadow: inset 1px 1px 4px 1px #000;
    background: #f93449;
}

.skin4 #saveCloseSetting {
    border-top: 2px solid rgba(174, 112, 70, 0.57);
}


.skin4 .member-fields-disable {
    color: #309758 !important;
    background: #6fce85 !important;
}

.skin4 p.tip-info {
    color: #753941
}

.skin4 #team_setting_link,
.skin4 #user_setting_link {
    color: #81454f
}


.skin4 .profile_info label {
    color: #40484b;
}

.skin4 .table-head span {
    background: #f498a1
}

.skin4 #uncategorised-bills {
    border: 8px solid #f13b52;
    background: #c52233;
}
.skin4 #uncategorised-bills > div span {
    color: #ff7684 !important
}

.skin4 #uncategorised-bills > div {
    background: rgb(176, 30, 46)
}
.skin4 #uncategorised-bills > div svg circle,
.skin4 #uncategorised-bills > div svg line{
    stroke: #c6df8a;
}

.skin4 .uncategorised-item {
    background: rgb(239, 100, 114)
}

.skin4 .uncategorised-item > p:nth-child(2) {
    color: #1b1c20;
}







/*------------------------------------------------------- */

.skin5 header {
    background: #3f5c5b;
    border-bottom: solid 1px #2c403f;
}

body.skin5,
.skin5 .container {
    background: #586b5f;
}

.skin5 .profile_info h2 {
    border-bottom: 2px solid rgba(92, 83, 92, 0.3);
    color: #6c7a71;
}

.skin5 .team-sub-setting {
    background: #d8dae4;
}

.skin5 #addUserPanel>p {
    color: #484d66;
}

.skin5 .profile_info input,
.skin5 .profile_info select {
    color: #3f3a3a;
    background: #e4eee8;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #fffbfb;
}

.skin5 #profile_img_browse+label,
.skin5 #team_img_browse+label,
.skin5 #team_imgEdit+label {
    background-color: #4d6bd9;
}

.skin5 #settingsBlock {
    background: #bad0c2;
}

.skin5 .content-box,
.skin5 section.main {
    background: #586b5f;
}

.skin5 section.side-nav {
    background: #89a894;
}

.skin5 section.side-nav span {
    color: #2b2b39;
}

.skin5 #billTable {
    background: #bad0c2;
}

.skin5 #billTable input,
.skin5 #billtype {
    background: #a4b9ac;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #eddcdc;
    color: #2f2c2c;
}

.skin5 #billTable.static-table input,
.skin5 #billTable.static-table select {
    color: #b29898 !important;
    background: #dadecd !important;

}

.skin5 .input-image+label {
    color: #e3b8b8;
    background-color: #9a8282;
    border-bottom: 1px solid #1d1d23;
    border-top: 1px solid #c7adb9;
}
.skin5 .input-image:focus+label,
.skin5 .input-image+label:hover {
    background-color: #896c6c;
}

.skin5 .thumbnail {
    border: 3px solid #b9d5c4;
    background: #9eb7a7;
}

.skin5 .thumb-date-bill {
    color: #3d3737;
}

.skin5 .amount-thumb {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.98);
}

.skin5 #saveCloseSetting {
    border-top: 2px solid rgba(92, 83, 92, 0.3);
}


.skin5 .member-fields-disable {
    color: #7f9286 !important;
    background: #b9d0c2 !important;
}


.skin5 .table-head span {
    background: #d3e1d8
}

.skin5 #uncategorised-bills {
    border: 8px solid #89a894;
    background: #586b5f;
}
.skin5 #uncategorised-bills > div span {
    color: #e3b1c9 !important
}

.skin5 #uncategorised-bills > div {
    background: #4e5e54
}

.skin5 .uncategorised-item {
    background: rgb(144, 165, 152)
}

.skin5 .uncategorised-item > p:nth-child(2) {
    color: #1b1c20;
}

.skin5 #uncategorised-bills > div svg circle,
.skin5 #uncategorised-bills > div svg line{
    stroke: #e3b1c9;
}





/*------------------------------------------------------- */

.skin6 header {
    background: #617867;
    border-bottom: solid 3px #b8cbbd;
}


body.skin6,
.skin6 .container {
    background: #a8c5af;
}


.skin6 #projectNameHead {
    border: 1px solid #a9bbae;
    color: #e1e2ef
}

.skin6 #projectNameHead b {
    color: #9cb8a4;
}

.skin6 .profile_info h2 {
    border-bottom: 2px solid rgba(92, 83, 92, 0.3);
    color: #597660;
}

.skin6 .team-sub-setting {
    background: #9ecaa9;
}

.skin6 #addUserPanel>p {
    color: #484d66;
}

.skin6 .profile_info input,
.skin6 .profile_info select {
    color: #3f3a3a;
    background: #d7f1de;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #fffbfb;
}

.skin6 #profile_img_browse+label,
.skin6 #team_img_browse+label,
.skin6 #team_imgEdit+label {
    background-color: #4d6bd9;
}

.skin6 #settingsBlock {
    background: #b0d8ba;
}

.skin6 .content-box,
.skin6 section.main {
    background: #a8c5af;
}

.skin6 section.side-nav {
    background: #c1edcc;
}

.skin6 section.side-nav span {
    color: #2b2b39;
}

.skin6 #billTable {
    background: #b9d3bf;
}

.skin6 #billTable input,
.skin6 #billtype {
    background: #e5ede8;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #e3e0e0;
    color: #2f2c2c;
}


.skin6 #billTable.static-table input,
.skin6 #billTable.static-table select {
    color: #b29898 !important;
    background: #dadecd !important;

}

.skin6 .input-image+label {
    color: #e9d8d0;
    background-color: #837f7d;
    border-bottom: 1px solid #1d1d23;
    border-top: 1px solid #d1e2d5;
}
.skin6 .input-image:focus+label,
.skin6 .input-image+label:hover {
    background-color: #716d6b;
}

.skin6 .thumbnail {
    border: 3px solid #cde1d1;
    background: #b9d3bf;
}

.skin6 .thumb-date-bill {
    color: #3d3737;
}

.skin6 .amount-thumb {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.98);
}

.skin6 #saveCloseSetting {
    border-top: 2px solid rgba(92, 83, 92, 0.3);
}


.skin6 .member-fields-disable {
    color: #81988a !important;
    background: #9fceaa !important;
}

.skin6 .table-head span {
    background: #cbe1d0
}

.skin6 #uncategorised-bills {
    border: 8px solid #c1edcc;
    background: #a8c5af;
}
.skin6 #uncategorised-bills > div span {
    color: #506054 !important
}

.skin6 #uncategorised-bills > div {
    background: #b7d5bf;
}

.skin6 .uncategorised-item {
    background: rgb(129, 157, 136)
}

.skin6 .uncategorised-item > p:nth-child(2) {
    color: #1b1c20;
}

.skin6 #uncategorised-bills > div svg circle,
.skin6 #uncategorised-bills > div svg line{
    stroke: #506054;
}





/*------------------------------------------------------- */

.skin7 header {
    background: #a26625;
    border-bottom: solid 3px #d89041;
}

body.skin7,
.skin7 .container {
    background: #d58936;
}

.skin7 #projectNameHead {
    color: #e2eaf2;
    border-color: #e3ae6b;
}


.skin7 #projectNameHead b {
   color: #edb87e;
}


.skin7 .profile_info h2 {
    border-bottom: 2px solid rgba(174, 112, 70, 0.57);
    color: #295b35;
}

.skin7 .team-sub-setting {
    background: #9ecaa9;
}

.skin7 #addUserPanel>p {
    color: #484d66;
}

.skin7 .profile_info input,
.skin7 .profile_info select {
    color: #3f3a3a;
    background: #d7f1de;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #fffbfb;
}

.skin7 #profile_img_browse+label,
.skin7 #team_img_browse+label,
.skin7 #team_imgEdit+label {
    background-color: #995c33;
}

.skin7 #settingsBlock {
    background: #cd9773;
}

.skin7 .content-box,
.skin7 section.main {
    background: #d58936;
}

.skin7 section.side-nav {
    background: #fff94f;
}

.skin7 section.side-nav span {
    color: #2b2b39;
}

.skin7 #billTable {
    background: #eba151;
}

.skin7 #billTable input,
.skin7 #billtype {
    background: #f4cca0;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #e3e0e0;
    color: #2f2c2c;
}


.skin7 #billTable.static-table input,
.skin7 #billTable.static-table select {
    color: #b29898 !important;
    background: #dadecd !important;

}

.skin7 .input-image+label {
    color: #e9bb87;
    background-color: #b55f02;
    border-bottom: 1px solid #1d1d23;
    border-top: 1px solid #debc97;
}
.skin7 .input-image:focus+label,
.skin7 .input-image+label:hover {
    background-color: #9c570c;
}

.skin7 .thumbnail {
    border: 3px solid #e3ad89;
    background: #cd9773;
}

.skin7 .thumb-date-bill {
    color: #3d3737;
}

.skin7 .amount-thumb {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.98);
}

.skin7 #saveCloseSetting {
    border-top: 2px solid rgba(174, 112, 70, 0.57);
}


.skin7 .member-fields-disable {
    color: #81988a !important;
    background: #9fceaa !important;
}

.skin7 p.tip-info {
    color: #583f2f
}

.skin7 #team_setting_link,
.skin7 #user_setting_link {
    color: #36345a
}

.skin7 .profile_info label {
    color: #4b4141;
}

.skin7 .table-head span {
    background: #f0bd86
}

.skin7 #uncategorised-bills {
    border: 8px solid #ceca51;
    background: #d58936;
}
.skin7 #uncategorised-bills > div span {
    color: #ffb86a !important
}

.skin7 #uncategorised-bills > div {
    background: #c98233;
}

.skin7 .uncategorised-item {
    background: rgb(235, 181, 121)
}

.skin7 .uncategorised-item > p:nth-child(2) {
    color: #1b1c20;
}
.skin7 #uncategorised-bills > div svg circle,
.skin7 #uncategorised-bills > div svg line{
    stroke: #c6df8a;
}




/*------------------------------------------------------- */

.skin8 header {
    background: #ac0b18;
    border-bottom: solid 3px #908d48;
}

body.skin8,
.skin8 .container {
    background: #d89f62;
}

.skin8 .profile_info h2 {
    border-bottom: 2px solid rgba(174, 112, 70, 0.57);
    color: #295b35;
}

.skin8 .team-sub-setting {
    background: #f1bd82;
}

.skin8 #addUserPanel>p {
    color: #484d66;
}

.skin8 .table-head {
    color: #90591d
}

.skin8 .profile_info input,
.skin8 .profile_info select {
    color: #3f3a3a;
    background: #e3bf99;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #e8ccac;
}

.skin8 #profile_img_browse+label,
.skin8 #team_img_browse+label,
.skin8 #team_imgEdit+label {
    background-color: #995c33;
}

.skin8 #settingsBlock {
    background: #e7ae70;
}

.skin8 .content-box,
.skin8 section.main {
    background: #d89f62;
}

.skin8 section.side-nav {
    background: #dbd64e;
}

.skin8 section.side-nav span {
    color: #2b2b39;
}

.skin8 #billTable {
    background: #e7ae70;
}

.skin8 #billTable input,
.skin8 #billtype {
    background: #ecc79e;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #eec69c;
    color: #2f2c2c;
}


.skin8 #billTable.static-table input,
.skin8 #billTable.static-table select {
    color: #875d2d !important;
    background: #dfa565 !important;
}

.skin8 .input-image+label {
    color: #dfa564;
    background-color: #7f5425;
    border-bottom: 1px solid #1d1d23;
    border-top: 1px solid #e0d0be;
}
.skin8 .input-image:focus+label,
.skin8 .input-image+label:hover {
    background-color: #6b4419;
}

.skin8 .thumbnail {
    border: 3px solid #e3ad89;
    background: #e2c3a2;
}

.skin8 .thumb-date-bill {
    color: #3d3737;
}

.skin8 .amount-thumb {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.98);
}

.skin8 #saveCloseSetting {
    border-top: 2px solid rgba(174, 112, 70, 0.57);
}


.skin8 .member-fields-disable {
    color: #2ca95d !important;
    background: #6fce85 !important;
}

.skin8 .table-head span {
    background: #eac195
}
.skin8 #uncategorised-bills {
    border: 8px solid #dbd64f;
    background: #d89f62;
}
.skin8 #uncategorised-bills > div span {
    color: #f2dcc4 !important
}

.skin8 #uncategorised-bills > div {
    background: #c9945a;
}

.skin8 .uncategorised-item {
    background: rgb(227, 183, 136)
}

.skin8 .uncategorised-item > p:nth-child(2) {
    color: #1b1c20;
}

.skin8 #uncategorised-bills > div svg circle,
.skin8 #uncategorised-bills > div svg line{
    stroke: #f2dcc4;
}




/*------------------------------------------------------- */

.skin9 header {
    background: #413c3c;
    border-bottom: solid 3px #4a4343;
}
.skin9 .btn {
    background: #142da0;
    color: #92aabb;
}

body.skin9,
.skin9 .container {
    background: #211f1f;
}

.skin9 .profile_info h2 {
    border-bottom: 2px solid rgb(75, 63, 63);
    color: #6c8572;
}

.skin9 .team-sub-setting {
    background: #5a4343;
}
.skin9 #modifyProjectMembers h5 {   
    background: rgba(165, 159, 159, 0.37);
    color: rgba(0, 0, 0, 0.77);
}

.skin9 .profile_info label {
    color: #706767;
}
.skin9 .profile_info #modifyProjectMembers label,
.skin9 .profile_info #teamDetailsSection label{
    color: #967f7f;
}

.skin9 .lastapproverlog {
    color: rgba(0, 0, 0, 0.73);
}

.skin9 .editRoleLabel {
    border: 1px solid rgba(0, 0, 0, 0.54);
    color: rgba(0, 0, 0, 0.72);
}

.skin9 .team-sub-setting {
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.66);
}

.skin9 #addUserPanel>p {
    color: #1c1717;
}

.skin9 .table-head {
    color: #7e7c7a
}

.skin9 #exitbill,
.skin9 #savebill,
.skin9 #updatebill,
.skin9 #rejectbill,
.skin9 #approvebill,
.skin9 #deletebill {
    color: #9595ad;
    background: rgba(101, 100, 93, 0.4);
    box-shadow: 0px 0px 7px 1px rgba(1, 1, 1, 0.71);
}

.skin9 #exitbill.processing-state,
.skin9 #savebill.processing-state,
.skin9 #updatebill.processing-state,
.skin9 #rejectbill.processing-state,
.skin9 #approvebill.processing-state,
.skin9 #deletebill.processing-state {
    color: #5c5c63;
    box-shadow: none;
}


.skin9 .profile_info input,
.skin9 .profile_info select {
    color: #9a8282;
    background: #484040;
    box-shadow: inset 2px 2px 6px #141313;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-bottom: 2px solid #534f4b;
}

.skin9 #profile_img_browse+label,
.skin9 #team_img_browse+label,
.skin9 #team_imgEdit+label {
    background-color: #4c3b3b;
}

.skin9 #settingsBlock {
    background: #2e2828;
}

.skin9 .content-box,
.skin9 section.main {
    background: rgb(34, 32, 32);
}

.skin9 section.side-nav span {
    color: rgb(137, 128, 128)
}


.skin9 section .nav-selected {
    background: #9b9494;
}

.skin9 section .nav-selected span {
    color: #000;
}

.skin9 #billTable {
    background: #302d2d;
    box-shadow: 1px 1px 8px 1px rgb(11, 10, 10);
    border-color: #2a2727;
}

.skin9 #billTable input,
.skin9 #billtype {
    background: #6a5757;
    box-shadow: inset 2px 2px 6px #060606;
    border: 2px solid #322f2f;
    border-bottom: 2px solid #4f4b47;
    color: #000;
}


.skin9 #billTable.static-table input,
.skin9 #billTable.static-table select {
    color: #776666 !important;
    background: #322f2f !important;
    border-bottom: 2px solid #534c4c;
}

.skin9 .input-image+label {
    color: #b28888;
    background-color: #484242;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #857c7c;
}
.skin9 .input-image:focus+label,
.skin9 .input-image+label:hover {
    background-color: #383630;
}

.skin9 .thumbnail {
    border: 3px solid #595757;
    background: #4a4848;

}

.skin9 .thumb-date-bill {
    color: #9d9090;
}

.skin9 .thumb-date-submit,
.skin9 .thumb-title-bill {
    color: #beb3b3;
}

.skin9 .amount-thumb {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.9);
    color: #46433e;
    background: #b5afaf;
}

.skin9 #saveCloseSetting {border-top: 2px solid rgb(75, 63, 63);}


.skin9 .member-fields-disable {
    color: #584e4e !important;
    background: #2e2828 !important;
    border-bottom: 2px solid #45413e !important;
}

.skin9 .table-head span {
    background: #eac195
}

.skin9 .table-head span {
    background: #494848;
    color: #968484;
    box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.68);
}
.skin9 #userSettingsPage .tip-info {
    color: #6c6363;
}
.skin9 #projectsList label {    
    color: #665f5f;
}

.skin9 #team_setting_link, #user_setting_link {
    color:rgb(93, 119, 162)
}

.skin9 .btn-editproj {    
    color: rgb(119, 150, 203);
    background: rgba(25, 20, 20, 0.82);
}


.skin9 .loader-circ-path {
    color: rgba(81, 77, 77, 0.86)
}


.skin9 #billTable ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #383333;
}

.skin9 #billTable :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #383333;
    opacity: 1;
}

.skin9 #billTable ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #383333;
    opacity: 1;
}

.skin9 #billTable ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #383333;
}

.skin9 #billTable ::placeholder {
    /* Most modern browsers support this now. */
    color: #383333;
}
.skin9 #uncategorised-bills {
    border: 8px solid #474444;
    background: #222020;
}
.skin9 #uncategorised-bills > div span {
    color: #9e7d8d !important
}

.skin9 #uncategorised-bills > div {
    background: #161515;
}

.skin9 .uncategorised-item {
    background: rgb(75, 57, 57)
}

.skin9 .uncategorised-item > p:nth-child(2) {
    color: #878a94;
}
.skin9 #uncategorised-bills > div svg circle,
.skin9 #uncategorised-bills > div svg line{
    stroke: #9e7d8d;
}
