html,
body {
    width: 100%;
}

body,
.container {
    min-height: 100vh
}

header {
    height: 100px;
    width: 100%;
    display: block;
    background: #850689;
    border-bottom: solid 4px #adaceb;

}
header img {
    cursor: pointer
}
#themechooser{
    width: 12px;
    height: 6px;
    position: absolute;
    top: 46px;
    right: 10px;
    font-size: .9em;
    padding: 3px;
    border-radius: 50%;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.58);
    padding-top: 11px;
    background: url(../images/themeicon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer
}

.hide {
    display: none !important
}

.btn {
    width: 100%;
    padding: 8px;
    background: #3354e6;
    text-align: center;
    margin-bottom: 6px;
    color: #d5dde3;
    cursor: pointer;
    border-radius: 6px;
}

.profile_info {
    padding: 20px;
    margin-bottom: 15px;
}

.profile_info h2 {
    border-bottom: 2px solid rgba(133, 6, 137, 0.3);
    padding-bottom: 10px;
    padding-left: 10px;
    color: #850689;
}

.profile_info p {

    text-align: left;
    color: black;

}
#projectNameHead{
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: .9em;
    border: 1px solid #9095d5;
    border-radius: 5px;
    padding: 4px 8px;
    color: #ccceeb;
    text-align: right;
    max-width: 165px;
    display: none
}
#projectNameHead b{
    color:#8883c5;
}

#addmemberEdit{
    margin-top: 5px;
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;

}
.team-sub-setting {
    /* border: 1px solid #697b9c; */
    padding: 20px;
    margin-bottom: 20px;
    background: #d5dbff;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

#addUserPanel>p {
    font-size: .9em;
    color: #6f6d6b;
    line-height: 1.6em;
    padding: 15px;
    text-align: left;
    width: 95%
}

#editProjMembersPanel{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.profile_info p:nth-child(3),
.team-sub-setting:nth-child(1)>p:nth-child(1)
 {
    margin-bottom: 50px;
    width: 270px;
    text-align: center;
}

.team-sub-setting:nth-child(1)>p:nth-child(1),
.team-sub-setting:nth-child(1)>p:nth-child(2),
#modifyProjectMembers > p:nth-child(2),
#modifyProjectMembers > p:nth-child(3)
 {
    width: 100%;
    text-align: center
}

.profile_info label {
    display: inline-block;
    width: 200px;
    padding-bottom: 5px;
    color: #40484b;
}

.profile_info input,
.profile_info select {
    padding: 5px;
    width: 200px;
    background: #c8ebf8;
    box-shadow: inset 2px 2px 6px #787373;
    color: #6e4d6e;
}

#profile_img_browse+label,
#team_img_browse+label,
#team_imgEdit+label
 {
    padding: 5px;
    font-size: 1em;
    background-color: #8792ba;
}

.profile_info input.inactive {
    background: #d7c5c5;
    color: #898383;
    cursor: default;
}

.settingloadstatus {
    color: red;
    font-size: .7em;
    font-weight: normal;
    padding-left: 20px;
    animation: loadblinker .7s linear infinite;
}

@keyframes loadblinker {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.newuserGroup {
    padding: 15px 5px;
}

.newuserGroup span, .edituserGroup span {
    padding-bottom: 10px;
    display: inline-block;
}
.member-fields-disable{
    color: #a78ca7 !important;
    background: #b0cfd8 !important;
}

.edituserGroup {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    border-radius: 7px;
    margin-bottom: 8px;
}

#team_setting_link,
#user_setting_link {
    text-align: right;
    font-size: .9em;
    color: blue;
    text-decoration: underline;
    cursor: pointer
}

#userprofilepic,
#teamlogoImg {
    border-radius: 50%;
    height: auto;
    max-width: 150px;
}

#active_account_txt,
#new_account_txt {
    color: red;
    font-weight: bold;
    text-transform: capitalize
}

#userrole_field {
    text-transform: capitalize;
}

#settingsBlock {
    z-index: 10;
    position: absolute;
    top: 110px;
    background: #8bd7f1;
    width: 80%;
    min-height: 90vh;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
}


.prev-block,
#imageuploader,
#billTable,
#billThumbnails {
    z-index: 5;
}


#chartsBlock {
    z-index: 10;
    width: 100%;
    background: #fff;
}

#chartdaysFilter {
    padding: 10px;
    border-radius: 5px;
    background: #dfe4ea;
    margin: 5px;
}

.chart-filter-day {
    background-color: #fff
}

#imageuploader+section {
    width: 100%
}

.lds-roller {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 35px;
}


header img {
    width: 150px;
    height: auto;
    margin: 6px 0 0 30px
}

.content-box {
    display: flex;
    font-size: 1em;
    font-family: arial;
    min-height: 86vh;
    background: #CEDFE5;
}

section.side-nav {
    width: 15%;
    min-width: 100px;
    background: #61a2fc;
}

section.side-nav p {
    padding: 50px 0;
    margin: 0;
    cursor: pointer;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.nav-selected {
    background: #fff;
    color: #111212
}




section.side-nav span {
    display: inline-block;
    color: #3a3975;
}

section.side-nav img {
    display: none;
    width: 30%;
    height: auto;
}

section.main {
    display: flex;
    /*! justify-content: center; */
    width: 85%;
    background: #CEDFE5;
    /*  align-items: center; */
    flex-wrap: wrap;
    padding: 20px
}


#imageuploader {

    padding: 10px;
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.prev-block {
    width: 48%;
    display: flex;
    justify-content: center;
}

#billTable {
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    width: 45%;
    border-color: #a08ea2;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    box-shadow: 1px 1px 8px 1px rgba(55, 47, 47, 0.58);
    background: #8bd7f1;
    margin-top: 20px;
    border-radius: 8px;
}

#billTable input {
    margin-bottom: 10px;
    padding: 10px;
    width: 65%;
    background: #C2E5F2;
    box-shadow: inset 2px 2px 6px #908a8a;
}

#billTable.teamTable{
    height: 410px;
}
#billTable.static-table input,
#billTable.static-table select
{
    color:#b29898;

}


p.tip-info {
    margin-top: 50px;
    color: #303c73;
    font-size: .9em;
}

.table-head {
    padding: 5px 10px;
    margin-bottom: 15px;
    color: #3f5467;
    font-size: large;
    font-weight: bold;

}
.table-head span{
    font-weight: normal;
    color: #5e6756;
    font-size: small;
    background: #bddeea;
    padding: 2px 5px;
    border: 1px solid rgba(94, 103, 86, 0.45);
}

#billtype {
    height: 42px;
    padding: 10px;
    width: 71%;
    background: #C2E5F2;
    box-shadow: inset 2px 2px 6px #908a8a;
    margin-bottom: 10px;
}
#projectsList{
    margin-top: 40px
}

#projectsList label{
    display: inline-block;
    width: 200px;
    padding-bottom: 5px;
    color: #40484b;
}

#exitbill,
#savebill,
#updatebill,
#rejectbill,
#approvebill,
#deletebill {
    display: inline-block;
    border-bottom: 1px solid blue;
    padding: 5px;
    color: blue;
    cursor: pointer;
    user-select: none;
}

#savebill,
#updatebill,
#rejectbill,
#approvebill,
#deletebill {
    margin-right: 15px
}

#addNewMemberProj.saving-state,
#editProject.saving-state,
#savebill.saving-state,
#updatebill.saving-state,
#savesettings.saving-state,
#rejectbill.saving-state,
#approvebill.saving-state,
#deletebill.saving-state {
    color: #716c6c;
    border-bottom: none;
    cursor: default;
    background: none;
}
#editProject.saving-state{
    font-size: .8em;
}

.bill-status-approval.hide,
.bill-status.hide,
.lds-roller.hide,
#projectsList.hide,
#user_setting_link.hide,
#mainStatusCancel.hide,
#alertBoxWindow.hide,
#infoTipBox.hide,
#confirmAmountWindow.hide,
#cameraDevice.hide,
#exitbill.hide,
#deletebill.hide,
#savebill.hide,
#updatebill.hide,
#rejectbill.hide,
#approvebill.hide,
#imageuploader.hide,
#billThumbnails.hide,
#billTable.hide,
#chartsBlock.hide,
#settingsBlock.hide {
    display: none
}

p {
    text-align: center;
    color: #f8fbff;
    font-size: 1.1em;
}

#infocontent{
    font-size: .9em;
    text-align: left;
    color: #2e2e3a;
}

#cameraDevice {
    margin-right: 10px
}

.previewimg {
    width: 90%;
    overflow: hidden;
    background: #fefefe;
    border: 15px solid #eaeaf0;
    border-radius: 8px;
    box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.6);
}

#chooseAmount{
    display: flex;
    justify-content: space-evenly;
}
span.pick-amount{
    padding: 5px 8px;
    background: #283fa4;
    border-radius: 6px;
    color: #d5cadd;
    cursor: pointer;
}

#alertBoxWindow, #confirmAmountWindow, #infoTipBox{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 30;
    align-items: center;
    justify-content: center;
}

#alertBoxWindow div, #infoTipBox div, #confirmAmountWindow > div {
    padding: 20px 40px;
    background: rgba(152, 148, 172, 0.9);
    text-align: center;
    width: 25%;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#alertBoxWindow h4, #confirmAmountWindow h4 {
    font-weight: normal;
}

#alertBoxWindow p, #infotipclose, #confirmAmountWindow p {
    font-size: .9em;
}

.settingMode #mybillORall{
    display: none !important
}

.editRoleLabel{
    padding: 8px 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

#mybillORall{
    position: fixed;
    bottom: 3px;
    right: 5px;
    background: #f2f2f5;
    padding: 1px 10px;
    line-height: .5px;
    font-size: 1em;
    border-radius: 8px;
    z-index: 12;
    cursor: pointer;
    border-bottom: 2px solid #79797d;
    display: none
}
#mybillORall p{
    font-size: .9em;
    padding: 0;
    color: #000;
    font-family: monospace;
}

.previewimg>img {
    width: 100%;
    min-width: 200px;
    height: auto
}

.input-image {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-image+label {
    font-size: 1.1em;
    color: #e6e6f1;
    background-color: #5d6b9d;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer
}

.input-image:focus+label,
.input-image+label:hover {
    background-color: #7482d0;
}

.input-image:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.thumb-img img {
    width: 220px;
    height: auto
}

.thumbnail {
    border: 5px solid rgba(84, 159, 250, 0.36);
    background: #e0dcf2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.55);
    border-radius: 8px;
    padding: 10px 0;
    cursor: pointer
}

.thumbnail .thumb-img+div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumb-date-submit,
.thumb-title-bill {
    padding: 10px 0;
}
.thumb-title-bill {
    max-width: 82%;
    text-align: center;
}

.thumb-date-bill {
    font-size: .8em;
    color: #565252;
}

#billThumbnails {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.amount-thumb {
    font-size: 1em;
    font-weight: bold;
    color: #3b48b4;
    background: #edeef3;
    border-radius: 50%;
    padding: 10px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.thumb-top-row{
    display: flex;       
    width: 90%;
    padding-bottom: 10px;
}
.thumb-top-row.centered{
    justify-content: center; 
}
.thumb-top-row.spaced{
    justify-content: space-between; 
}
.bill-status img{
    width: 30px;
    height: auto;
}

.bill-status-approval{
    width: 70%;
    font-size: .9em;
    padding: 5px 0 20px 0;
}
.bill-status-approval.pending{
    color:#533c3c;
}
.bill-status-approval.rejected{
    color:red;
}
.bill-status-approval.approved{
    color:green;
}
.bill-status-approval span{
    color: #4545f0;
    text-decoration: underline;
}

.bill-status-approval i{
    margin-left: 5px;
    display: inline-block;
    background: url(../images/history.png);
    width: 25px;
    height: auto;
    padding: 2px 0;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

#modifyProjectMembers{
    margin-top: 20px;
    padding: 0;
}

#modifyProjectMembers h5{
    margin: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
    border-radius: 8px 8px 0 0;
}

div#ui-datepicker-div {
    z-index: 7 !important;
}

.settingMode #billTable,
.settingMode #billThumbnails,
.settingMode #chartsBlock,
.settingMode .prev-block {
    display: none
}

.btn-editproj{
    padding: 4px 8px;
    font-size: .8em;
    color: rgb(255, 255, 255);
    background: rgba(44, 44, 47, 0.5);
}

.lastapproverlog{
    font-size: .8em;
    color: rgba(0, 0, 0, 0.5);
}

#saveCloseSetting{
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid #4b70a9;
}


#editProjMembersPanel input,
#editProjMembersPanel select {
    width: 200px;
}

.edituserGroup{
    width: 45%
}


@media (min-width: 1024px) {
    section.side-nav p:hover {
        background: rgba(224, 227, 235, 0.5);
        color: #0e0e0e;
    }
    .skin1 section.side-nav p:hover {
        background: rgba(71, 82, 111, 0.5);
    }
}

@media (max-width:920px) {

    #billTable,
    .previewimg,
    .prev-block {
        items-align: flex-start;
        width: 100%
    }

    #billTable input {
        width: 90%
    }

    #billTable select {
        width: 95%;
    }
     .edituserGroup{
        width: 90%
    }
    
    #editProjMembersPanel input,
    #editProjMembersPanel select {
        width: 98%;
    }

}

@media (max-width:768px) {
    #alertBoxWindow div, #infoTipBox div, #confirmAmountWindow > div {
        width: 40%
    }

}


@media (max-width:450px) {
    .input-image+label {
        font-size: .9em
    }

    header {
        height: 80px
    }

    header img {
        margin: 6px 0 0 13px;
        width: 120px
    }

    #themechooser {
        width: 8px;
        height: 5px;
        top: 30px;
    }

    #projectNameHead{
        top:-5px;
    }

    section.side-nav {
        width: 10%;
        min-width: 50px
    }

    section.side-nav span {
        display: none;
    }

    section.side-nav img {
        display: inline-block;
        width: 35%
    }

    section.side-nav p {
        padding: 30px 0;
    }

    section.main {
        width: 90%;
        padding-left: 12px;
        padding-right: 12px;
    }


    /* Top floater */
    .topfloater header{
        border-bottom: none !important
    }
    .topfloater section.side-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        /* background: #e8bef6; */

    }

    .topfloater section.main {
        width: 95%;

    }

    .topfloater section.side-nav p {
        box-shadow: none;
        padding: 5px 26px;

    }

    .topfloater .content-box {
        flex-direction: column
    }

    .topfloater .thumb-img img{
        width:290px
    }

    .topfloater #settingsBlock{        
        top: 135px;
        box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.5);
        width: 94%;
    }
    .topfloater section.side-nav img{
        width:50%
    }
    .topfloater #logout img{
        width:35%
    }


    .topfloater .nav-selected{
        background: rgba(246, 246, 246, 0.7);
        border-top: 2px solid #fff;
    }
    .skin6 .topfloater .nav-selected{
        background: #fff;
    }

    /* End top floater */

    #alertBoxWindow div, #infoTipBox div, #confirmAmountWindow > div {
        width: 50%
    }

    .profile_info {
        font-size: .8em
    }

    #billTable {
        font-size: .8em
    }

    .thumb-img img {
        width: 220px;
    }
}

@media (max-width:375px) {
    #editProject{
        margin-left:0 !important;
    }
    .profile_info #projectsList input, .profile_info #projectsList select{
        width: 175px;
    }
    .profile_info .newuserGroup input, .profile_info .newuserGroup select{
        width: 155px;
    }

}

.loader-circ-path {
    height: 30px;
    width: 30px;
    color: rgba(37, 36, 36, 0.67);
    position: relative;
    display: inline-block;
    border: 4px solid;
    border-radius: 50%;
    border-right-color: #ada6a6;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* ----------------SKINS -------------------- */

.skin1 header{
    background: #533a48;
    border-bottom: solid 2px #816373
}

.skin1 .profile_info h2 {
    border-bottom: 2px solid rgba(92, 83, 92, 0.3);    
    color: #4f3951;
}

.skin1 .team-sub-setting {
    background: #959bbe;
}

.skin1 #addUserPanel>p {
    color: #484d66;x
}

.skin1 .profile_info input,
.skin1 .profile_info select {
    background: #c8ebf8;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #d7c0c0;
}

.skin1 #profile_img_browse+label,
.skin1 #team_img_browse+label,
.skin1 #team_imgEdit+label {
    background-color: #4d6bd9;
}

.skin1 #settingsBlock {
    background: #8099aa;
}

.skin1 .content-box, .skin1 section.main {
    background: #7c5869;
}

.skin1 section.side-nav {    
    background: #9a7197;
}

.skin1 section.side-nav span {
    color: #2b2b39;
}
.skin1 #billTable {
    background: #aca7c0;
}
.skin1 #billTable input, .skin1 #billtype  {
    background: #aecdd9;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #d7c0c0;
}

.skin1 #billTable.static-table input,
.skin1 #billTable.static-table select
{
    color:#9a8383;

}


.skin1 .input-image+label {
    color: #bcbcd5;
    background-color: #9a7197;
    border-bottom: 1px solid #1d1d23;
}

.skin1 .thumbnail {
    border: 3px solid rgba(225, 232, 241, 0.61);
    background: #9d96b8;
}

.skin1 .thumb-date-bill {
    color: #3d3737;
}

.skin1 .amount-thumb {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.98);
}

.skin1 #saveCloseSetting{
    border-top: 2px solid rgba(92, 83, 92, 0.3);
}





/*------------------------------------------------------- */

.skin2 header{
    background: #1c6e8c;
    border-bottom: solid 2px #3d5a58;
}

.skin2 .profile_info h2 {
    border-bottom: 2px solid rgba(92, 83, 92, 0.3);
    color: #7a7688;
}

.skin2 .team-sub-setting {
    background: #d8dae4;
}

.skin2 #addUserPanel>p {
    color: #484d66;x
}

.skin2 .profile_info input,
.skin2 .profile_info select {
    color: #3f3a3a;
    background: #ecf1ee;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #fffbfb;
}

.skin2 #profile_img_browse+label,
.skin2 #team_img_browse+label,
.skin2 #team_imgEdit+label {
    background-color: #4d6bd9;
}

.skin2 #settingsBlock {
    background: #d1e9f1;
}

.skin2 .content-box, .skin2 section.main {
    background: #d3d0cf;
}

.skin2 section.side-nav {
    background: #97bdca;
}

.skin2 section.side-nav span {
    color: #2b2b39;
}
.skin2 #billTable {
    background: #c1d7df;
}
.skin2 #billTable input, .skin2 #billtype {
    background: #e5ede8;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #ffffff;
    color: #2f2c2c;
}


.skin2 #billTable.static-table input,
.skin2 #billTable.static-table select
{
    color: #b29898 !important;
    background: #dadecd !important;

}

.skin2 .input-image+label {
    color: #eae5ff;
    background-color: #5073f2;
    border-bottom: 1px solid #1d1d23;
}

.skin2 .thumbnail {
    border: 3px solid #e9f3ed;
    background: #c1d7df;
}

.skin2 .thumb-date-bill {
    color: #3d3737;
}

.skin2 .amount-thumb {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.98);
}

.skin2 #saveCloseSetting{
    border-top: 2px solid rgba(92, 83, 92, 0.3);
}


.skin2 .member-fields-disable {
    color: #a2b7aa !important;
    background: #d1e9f1 !important;
}


/*------------------------------------------------------- */

.skin3 header{
    background: #454955;
    border-bottom: solid 2px #e8f0e0;
}

.skin3 .profile_info h2 {
    border-bottom: 2px solid rgba(92, 83, 92, 0.3);
    color: #806a82;
}

.skin3 .team-sub-setting {
    background: #d8dae4;
}

.skin3 #addUserPanel>p {
    color: #484d66;x
}

.skin3 .profile_info input,
.skin3 .profile_info select {
    color: black;
    background: #c8ebf8;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #fffbfb;
}

.skin3 #profile_img_browse+label,
.skin3 #team_img_browse+label,
.skin3 #team_imgEdit+label {
    background-color: #4d6bd9;
}

.skin3 #settingsBlock {
    background: #e9eae5;
}

.skin3 .content-box, .skin3 section.main {
    background: #c7efcf;
}

.skin3 section.side-nav {
    background: #fe5f55;
}

.skin3 section.side-nav span {
    color: #2b2b39;
}
.skin3 #billTable {
    background: #eef5db;
}
.skin3 #billTable input, .skin3 #billtype {
    background: #e1f1b5;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #ffffff;
    color: #2f2c2c;
}

.skin3 #billTable.static-table input,
.skin3 #billTable.static-table select
{
    color: #b29898 !important;
    background: #dadecd !important;

}

.skin3 .input-image+label {
    color: #dedee7;
    background-color: #d86c65;
    border-bottom: 1px solid #1d1d23;
}

.skin3 .thumbnail {
    border: 3px solid rgba(225, 232, 241, 0.61);
    background: #eef5db;
}

.skin3 .thumb-date-bill {
    color: #3d3737;
}

.skin3 .amount-thumb {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.98);
}

.skin3 #saveCloseSetting{
    border-top: 2px solid rgba(92, 83, 92, 0.3);
}


.skin3 .member-fields-disable {
    color: #9c879c !important;
    background: #d7e0e2 !important;
}





/*------------------------------------------------------- */

.skin4 header{
    background: #6a152a;
    border-bottom: solid 3px #b7414d;
}


.skin4 .profile_info h2 {
    border-bottom: 2px solid rgb(181, 123, 84);
    color: #295b35;
}

.skin4 .team-sub-setting {
    background: #f1bd82;
}

.skin4 #addUserPanel>p {
    color: #484d66;x
}

.skin4 .profile_info input,
.skin4 .profile_info select {
    color: #3f3a3a;
    background: #e3bf99;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #e8ccac;
}

.skin4 #profile_img_browse+label,
.skin4 #team_img_browse+label,
.skin4 #team_imgEdit+label {
        background-color: #693f22;
}

.skin4 #settingsBlock {
    background: #fa6477;
}

.skin4 .content-box, .skin4 section.main {
    background: #c52233;
}

.skin4 section.side-nav {
    background: #f13b52;
}

.skin4 section.side-nav span {
    color: #2b2b39;
}
.skin4 #billTable {
    background: #f3848f;
}
.skin4 #billTable input, .skin4 #billtype {
    background: #f2b9bf;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #eec69c;
    color: #2f2c2c;
}


.skin4 #billTable.static-table input,
.skin4 #billTable.static-table select
{
    color: #d25c68 !important;
    background: #f3848f !important;
}

.skin4 .input-image+label {
    color: #c0813b;
    background-color: #a6091d;
    border-bottom: 1px solid #1d1d23;
}

.skin4 .thumbnail {
    border: 3px solid #d11c2f;
    background: #b50e20;
}

.skin4 .thumb-date-bill {
    color: #d15565;
}

.skin4 .thumb-title-bill, .skin4 .thumb-date-submit, .skin  {
    color: #e56576;
}

.skin4 .amount-thumb {
    color: #d11919;
    box-shadow: inset 1px 1px 4px 1px #000;
}

.skin4 #saveCloseSetting{
    border-top: 2px solid rgba(174, 112, 70, 0.57);
}


.skin4 .member-fields-disable {
    color: #2ca95d !important;
    background: #6fce85 !important;
}














/*------------------------------------------------------- */

.skin5 header{
    background: #3f5c5b;
    border-bottom: solid 1px #2c403f;
}

.skin5 .profile_info h2 {
    border-bottom: 2px solid rgba(92, 83, 92, 0.3);
    color: #6c7a71;
}

.skin5 .team-sub-setting {
    background: #d8dae4;
}

.skin5 #addUserPanel>p {
    color: #484d66;x
}

.skin5 .profile_info input,
.skin5 .profile_info select {
    color: #3f3a3a;
    background: #a4b9ac;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #fffbfb;
}

.skin5 #profile_img_browse+label,
.skin5 #team_img_browse+label,
.skin5 #team_imgEdit+label {
    background-color: #4d6bd9;
}

.skin5 #settingsBlock {
    background: #bad0c2;
}

.skin5 .content-box, .skin5 section.main {
    background: #586b5f;
}

.skin5 section.side-nav {
    background: #89a894;
}

.skin5 section.side-nav span {
    color: #2b2b39;
}
.skin5 #billTable {
    background: #bad0c2;
}
.skin5 #billTable input, .skin5 #billtype {
    background: #a4b9ac;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #eddcdc;
    color: #2f2c2c;
}

.skin5 #billTable.static-table input,
.skin5 #billTable.static-table select
{
    color: #b29898 !important;
    background: #dadecd !important;

}

.skin5 .input-image+label {
    color: #e3b8b8;
    background-color: #9a8282;
    border-bottom: 1px solid #1d1d23;
}

.skin5 .thumbnail {
    border: 3px solid #b9d5c4;
    background: #9eb7a7;
}

.skin5 .thumb-date-bill {
    color: #3d3737;
}

.skin5 .amount-thumb {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.98);
}

.skin5 #saveCloseSetting{
    border-top: 2px solid rgba(92, 83, 92, 0.3);
}


.skin5 .member-fields-disable {
    color: #92a69a !important;
    background: #b9d0c2 !important;
}






/*------------------------------------------------------- */

.skin6 header{
    background: #617867;
    border-bottom: solid 3px #4f6655;
}

.skin6 #projectNameHead{
    border: 1px solid #3a5340;
    color: #e1e2ef
}

.skin6 #projectNameHead b {
    color: #9cb8a4;
}

.skin6 .profile_info h2 {
    border-bottom: 2px solid rgba(92, 83, 92, 0.3);
    color: #597660;
}

.skin6 .team-sub-setting {
    background: #9ecaa9;
}

.skin6 #addUserPanel>p {
    color: #484d66;x
}

.skin6 .profile_info input,
.skin6 .profile_info select {
    color: #3f3a3a;
    background: #d7f1de;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #fffbfb;
}

.skin6 #profile_img_browse+label,
.skin6 #team_img_browse+label,
.skin6 #team_imgEdit+label
 {
    background-color: #4d6bd9;
}

.skin6 #settingsBlock {
    background: #b0d8ba;
}

.skin6 .content-box, .skin6 section.main {
    background: #a8c5af;
}

.skin6 section.side-nav {
    background: #c1edcc;
}

.skin6 section.side-nav span {
    color: #2b2b39;
}
.skin6 #billTable {
    background: #b9d3bf;
}
.skin6 #billTable input, .skin6 #billtype {
    background: #e5ede8;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #e3e0e0;
    color: #2f2c2c;
}


.skin6 #billTable.static-table input,
.skin6 #billTable.static-table select
{
    color: #b29898 !important;
    background: #dadecd !important;

}

.skin6 .input-image+label {
    color: #e9d8d0;
    background-color: #837f7d;
    border-bottom: 1px solid #1d1d23;
}

.skin6 .thumbnail {
    border: 3px solid #cde1d1;
    background: #b9d3bf;
}

.skin6 .thumb-date-bill {
    color: #3d3737;
}

.skin6 .amount-thumb {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.98);
}

.skin6 #saveCloseSetting{
    border-top: 2px solid rgba(92, 83, 92, 0.3);
}


.skin6 .member-fields-disable {
    color: #81988a !important;
    background: #9fceaa !important;
}





/*------------------------------------------------------- */

.skin7 header{
    background: #4d2a2d;
    border-bottom: solid 3px #311c05;
}


.skin7 .profile_info h2 {
    border-bottom: 2px solid rgba(174, 112, 70, 0.57);
    color: #295b35;
}

.skin7 .team-sub-setting {
    background: #9ecaa9;
}

.skin7 #addUserPanel>p {
    color: #484d66;x
}

.skin7 .profile_info input,
.skin7 .profile_info select {
    color: #3f3a3a;
    background: #d7f1de;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #fffbfb;
}

.skin7 #profile_img_browse+label,
.skin7 #team_img_browse+label,
.skin7 #team_imgEdit+label {
    background-color: #995c33;
}

.skin7 #settingsBlock {
    background: #cd9773;
}

.skin7 .content-box, .skin7 section.main {
    background: #d58936;
}

.skin7 section.side-nav {
    background: #fff94f;
}

.skin7 section.side-nav span {
    color: #2b2b39;
}
.skin7 #billTable {
    background: #eba151;
}
.skin7 #billTable input, .skin7 #billtype {
    background: #f4cca0;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #e3e0e0;
    color: #2f2c2c;
}


.skin7 #billTable.static-table input,
.skin7 #billTable.static-table select
{
    color: #b29898 !important;
    background: #dadecd !important;

}

.skin7 .input-image+label {
    color: #e9bb87;
    background-color: #b55f02;
    border-bottom: 1px solid #1d1d23;
}

.skin7 .thumbnail {
    border: 3px solid #e3ad89;
    background: #cd9773;
}

.skin7 .thumb-date-bill {
    color: #3d3737;
}

.skin7 .amount-thumb {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.98);
}

.skin7 #saveCloseSetting{
    border-top: 2px solid rgba(174, 112, 70, 0.57);
}


.skin7 .member-fields-disable {
    color: #81988a !important;
    background: #9fceaa !important;
}








/*------------------------------------------------------- */

.skin8 header{
    background: #ac0b18;
    border-bottom: solid 3px #623a0b;
}


.skin8 .profile_info h2 {
    border-bottom: 2px solid rgba(174, 112, 70, 0.57);
    color: #295b35;
}

.skin8 .team-sub-setting {
    background: #f1bd82;
}

.skin8 #addUserPanel>p {
    color: #484d66;x
}

.skin8 .table-head{
    color: #90591d
}

.skin8 .profile_info input,
.skin8 .profile_info select {
    color: #3f3a3a;
    background: #e3bf99;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #e8ccac;
}

.skin8 #profile_img_browse+label,
.skin8 #team_img_browse+label,
.skin8 #team_imgEdit+label {
    background-color: #995c33;
}

.skin8 #settingsBlock {
    background: #e7ae70;
}

.skin8 .content-box, .skin8 section.main {
    background: #d89f62;
}

.skin8 section.side-nav {
    background: #dbd64e;
}

.skin8 section.side-nav span {
    color: #2b2b39;
}
.skin8 #billTable {
    background: #e7ae70;
}
.skin8 #billTable input, .skin8 #billtype {
    background: #ecc79e;
    box-shadow: inset 2px 2px 6px #423d3d;
    border-bottom: 2px solid #eec69c;
    color: #2f2c2c;
}


.skin8 #billTable.static-table input,
.skin8 #billTable.static-table select
{
    color: #a3713a !important;
    background: #dfa565 !important;
}

.skin8 .input-image+label {
    color: #dfa564;
    background-color: #7f5425;
    border-bottom: 1px solid #1d1d23;
}

.skin8 .thumbnail {
    border: 3px solid #e3ad89;
    background: #e2c3a2;
}

.skin8 .thumb-date-bill {
    color: #3d3737;
}

.skin8 .amount-thumb {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.98);
}

.skin8 #saveCloseSetting{
    border-top: 2px solid rgba(174, 112, 70, 0.57);
}


.skin8 .member-fields-disable {
    color: #2ca95d !important;
    background: #6fce85 !important;
}



